@media (min-width: 426px) and (max-width: 4000px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-image:url(./assets/bg-login.jpg);
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat
    }
    
    .form-input{
        color: white;
    }
    
    .tombol-masuk{
        margin-top: 16;
        /* padding-left: 45% !important;
        padding-right: 45% !important; */
        width: 100% !important;
    }
    
}

@media (min-width: 0px) and (max-width: 425px){
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-image:url(./assets/bg-login-mobile.jpg);
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat
    }
    
    .form-input{
        color: white;
    }
    
    .tombol-masuk{
        margin-top: 16px;
        /* padding-left: 45% !important;
        padding-right: 45% !important; */
        width: 100% !important;
    }
    
}